body{
    font-family: 'Poppins', sans-serif;
}
.first_second{
    display: flex;
    padding: 20px;
    margin: 20px;
}
h1{
    font-size: 50px;
}
span{
    color: chocolate;
}
.Buttom{
    text-decoration: none;
    background-image: linear-gradient(chocolate,red);
    padding: 10px 30px;
    border-radius:20px;
}
p{
    font-size:20px;
}
.background{
   background-image: url(back.png);
   background-repeat: no-repeat;
  margin: 0px;
}
.middle{
    text-align: center;
}
.font{
    font-size: 10px;
    text-align: center;
}
.sado{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   box-shadow:30px 30px 90px rgb(160, 151, 157); 
   border-radius: 30px;
}
